.right {
  text-align: right;
}

.center {
  text-align: center;
}

.space-remove {
  padding: 0 !important;
  margin: 0 !important;
}

.bold {
  font-weight: 600;
}

.fs-15 {
  font-size: 15px;
}

.fs-20 {
  font-size: 20px;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px;
}

.fs-45 {
  font-size: 45px;
}

.upper {
  text-transform: uppercase;
}
